{% extends "base.html" %}

{% block title %}Sources{% endblock %}

{% block content %}

{% if allsources %}
<section class="py-14">
    <h1 class="text-5xl text-center font-bold text-gray-800 pb-16">Nos sources</h1>
    {% if source_list %}
    <ul class="w-3/4 mx-auto">
        {% for source in source_list %}
        <li class="list-disc py-2"><a class="hover:text-emerald-400 transition-all duration-300 font-bold text-xl"
                href="/partage/sources/{{ source }}">
                {{ source.titre }}
            </a>
            <p>Auteurs :
                {% for auteur in source.auteur.all %}
                <a class="bg-emerald-400 py-[2px] px-1 rounded-md text-sm font-medium text-white"
                    href="/partage/author/{{ auteur }}">
                    {{ auteur }}</a>
                {% endfor %}
            </p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="text-center">No sources are available.</p>
    {% endif %}
    {% endif %}

    {% if oneSource %}
    <h3 class="card-title">{{ source }}</h3>
    {% if content_list %}
    {% for content in content_list %}
    {% if content.source.titre == source %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ content.source }}
                {% if content in content_http_list %}
                <a href="{{ content.location }}" target="_blank" style="color: black;"><button type="button"
                        class="btn">
                        lien</button></a>
                {% else %}
                <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="right"
                    title="{{ content.location }}">
                    Marque page</button>
                {% endif %}
            </h5>
            <h6 class="card-subtitle text-muted mb-2">
                {% for author in content.source.auteur.all %}
                <a href="/partage/author/{{ author }}"><span class="badge text-bg-light">{{ author }}</span></a>
                {% endfor %}

            </h6>
            <p class="card-text">{{ content.text|linebreaks }}</p>
            <div id="tags">
                {% for letag in content.tag.all %}
                <a href="/partage/{{ letag }}/contenus/"><span class="badge text-bg-success">{{ letag
                        }}</span></a>
                {% endfor %}
            </div>
            <br>
            <a href="/../admin/partage/content/{{ content.id }}/change/" target="_blank"><svg style="color: black;"
                    xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                </svg></a></p>
        </div>
    </div><br>
    {% endif %}
    {% endfor %}
    {% endif %}
</section>
{% endif %}

{% endblock %}